@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #F6F8FC !important;
}

::-webkit-scrollbar {
  display: none;
}

.ant-tabs-nav .ant-tabs-tab {
  padding: 10px 7vw 10px 0px !important;
  text-align: left !important;
}

.ant-tabs-nav .ant-tabs-tab:hover{
  background-color: #f5f7f6 !important;
}